@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;700&family=Bebas+Neue&family=Fruktur&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --cor0: #FAFAFA;
    --cor1: #E8F1F5;
    --cor2: #005691;
    --cor3: #004A7C;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: var(--fonte-destaque), var(--fonte-padrao);
}

main{
    min-height: calc(100vh - 70px);
    position: relative;
}

header {
    box-shadow: 0px 5px 15px #757575;
    background-color: var(--cor0);
    display: flex;
    
}
nav{
    box-shadow: 0px 5px 20px #757575;
    font-size: 19px;
    margin-bottom: 20px;
    position: relative;
    width: auto;
}

img{
    width: 130px;

}

.jumbotron{
  align-content: center;
  margin: 20px;
  padding-bottom: 100px;
}

h1 {
    text-align: center;
    padding: 20px;
    margin: 5px;
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.315);
   
}
h2 {
        text-align: center;
        padding: 20px;
        margin: 5px;
        font-family: var(--fonte-destaque);
        color: var(--cor3);
        text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.315);
       
    }


